# move to bins
#alias mount-henry='sudo mount -t cifs -o user=guest,pass=guest //HENRY/public /mnt/henry'
#alias mount-perten='sudo mount -t cifs -o user=ddremote,pass=tomisawesome,file_mode=0777,dir_mode=0777       //10.128.20.38/Users /mnt/perten'

function curlperf {
      curl  -s -w "%{time_connect} + %{time_starttransfer} = %{time_total}\n" "("
}

# easy browser sync
alias bs="browser-sync start --proxy 'localhost:4200' --files 'dist/*'"

function kuberun {
    [[ $# -lt 2 ]] && echo "Invalid number of arguments, [SERVICE_NAME] [IMAGE_NAME] [...COMMAND]"; return 1;

    SERVICE_NAME=$1
    IMAGE_NAME=$2
    shift 2;
    kubectl run $SERVICE_NAME --image=$IMAGE_NAME --restart=Never --quiet -i --rm -- "$@"
}

function gnew {
    git add . && git stash && git checkout master && git checkout -b $1 && git stash pop
}
