[user]
	email = dduncan@intellifarms.com
	name = David Duncan
[core]
	editor = vim
	excludesfile = ~/.gitignore.global
[merge]
	ff = true
[push]
	default = simple
[alias]
        cleanup = "!git branch --merged | grep  -v '\\*\\|master\\|develop' | xargs -n1 -r git branch -d"
        notmerged = "!git --no-pager log --no-merges master.."
