[user]
	email = dduncan@intelliair.com
	name = David Duncan
[core]
	editor = vim
	excludesfile = /home/dduncan/.gitignore.global
[merge]
	ff = false
[push]
	default = simple
[alias]
        cleanup = "!git branch --merged | grep  -v '\\*\\|master\\|develop' | xargs -n1 -r git branch -d"
